.App {
  text-align: center;
  
  font-weight: bold;
  font-size: 25px;
  }



@media (prefers-reduced-motion: no-preference) {
 

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

}

.App nav .container .container-cart{
 display: flex;
 justify-content: center;
 align-items: center;
  
}
.App nav .container .container-cart p{
  color: white;
}

.App div h1{
margin-top: 2%;
  font-size: 30px;
  font-weight: bold;
}